In [14]:
import pandas as pd

In [15]:
category_file = "../data/bgg_Category.csv"
type_file = "../data/bgg_GameType.csv"
mechanic_file = "../data/bgg_Mechanic.csv"

In [16]:
category_df = pd.read_csv(category_file)
category_df.head()

   bgg_id               name
0    1001          Political
1    1002          Card Game
2    1008           Nautical
3    1009  Abstract Strategy
4    1010            Fantasy

In [17]:
type_df = pd.read_csv(type_file)
type_df

    bgg_id             name
0     4415            Amiga
1     4420     Commodore 64
2     4664         War Game
3     4665  Children's Game
4     4666    Abstract Game
5     4667     Customizable
6     4781           Arcade
7     4976         Atari ST
8     5496         Thematic
9     5497    Strategy Game
10    5498       Party Game
11    5499      Family Game

In [18]:
mechanic_df = pd.read_csv(mechanic_file)
mechanic_df.head()

   bgg_id                 name
0    2001        Action Points
1    2002       Tile Placement
2    2003  Rock-Paper-Scissors
3    2004       Set Collection
4    2005        Stock Holding