In [56]:
import pandas as pd
import numpy as np

In [57]:
category_file = "../data/bgg_Category.csv"
type_file = "../data/bgg_GameType.csv"
mechanic_file = "../data/bgg_Mechanic.csv"

In [58]:
category_df = pd.read_csv(category_file)
category_df.head()

   bgg_id               name
0    1001          Political
1    1002          Card Game
2    1008           Nautical
3    1009  Abstract Strategy
4    1010            Fantasy

In [121]:
category_df = category_df.rename(columns={'bgg_id':'category_id','name':'category_name'})
category_df.head()

   category_id      category_name
0         1001          Political
1         1002          Card Game
2         1008           Nautical
3         1009  Abstract Strategy
4         1010            Fantasy

In [59]:
type_df = pd.read_csv(type_file)
type_df

    bgg_id             name
0     4415            Amiga
1     4420     Commodore 64
2     4664         War Game
3     4665  Children's Game
4     4666    Abstract Game
5     4667     Customizable
6     4781           Arcade
7     4976         Atari ST
8     5496         Thematic
9     5497    Strategy Game
10    5498       Party Game
11    5499      Family Game

In [122]:
type_df = type_df.rename(columns={'bgg_id':'type_id','name':'type_name'})
type_df.head()

   type_id        type_name
0     4415            Amiga
1     4420     Commodore 64
2     4664         War Game
3     4665  Children's Game
4     4666    Abstract Game

In [60]:
mechanic_df = pd.read_csv(mechanic_file)
mechanic_df.head()

   bgg_id                 name
0    2001        Action Points
1    2002       Tile Placement
2    2003  Rock-Paper-Scissors
3    2004       Set Collection
4    2005        Stock Holding

In [123]:
mechanic_df = mechanic_df.rename(columns={'bgg_id':'mechanic_id','name':'mechanic_name'})
mechanic_df.head()

   mechanic_id        mechanic_name
0         2001        Action Points
1         2002       Tile Placement
2         2003  Rock-Paper-Scissors
3         2004       Set Collection
4         2005        Stock Holding

In [124]:
data_file = "../data/bgg_GameItem.csv"
game_item_df = pd.read_csv(data_file)

In [109]:
cols = ['bgg_id', 'name', 'year', 'game_type', 'min_players', 'max_players', 'min_players_rec',
       'max_players_rec', 'min_players_best', 'max_players_best', 'min_age',
       'min_age_rec', 'min_time', 'max_time', 'category', 'mechanic',
       'cooperative', 'rank', 'num_votes', 'avg_rating', 'complexity']

game_item_df = game_item_df[cols].copy()

In [98]:
game_item_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102325 entries, 0 to 102324
Data columns (total 21 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   bgg_id            102325 non-null  int64
 1   name              102325 non-null  object
 2   year              93049 non-null   float64
 3   game_type         21870 non-null   object
 4   min_players       100466 non-null  float64
 5   max_players       96919 non-null   float64
 6   min_players_rec   100466 non-null  float64
 7   max_players_rec   96919 non-null   float64
 8   min_players_best  100466 non-null  float64
 9   max_players_best  96919 non-null   float64
 10  min_age           79906 non-null   float64
 11  min_age_rec       930 non-null     float64
 12  min_time          80922 non-null   float64
 13  max_time          80922 non-null   float64
 14  category          100245 non-null  object
 15  mechanic          86813 non-null   object
 16  cooperative       5134 non-null    float64
 17  rank              20828 non-null   float64
 18  num_votes         75154 non-null   float64
 19  avg_rating        75137 non-null   float64
 20  complexity        44300 non-null   float64
dtypes: float64(16), int64(1), object(4)
memory usage: 16.4+ MB

In [110]:
game_item_df = game_item_df.dropna(subset=['game_type'], inplace=False)

In [111]:
game_item_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21870 entries, 0 to 100274
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   bgg_id            21870 non-null  int64
 1   name              21870 non-null  object
 2   year              20938 non-null  float64
 3   game_type         21870 non-null  object
 4   min_players       21637 non-null  float64
 5   max_players       21257 non-null  float64
 6   min_players_rec   21637 non-null  float64
 7   max_players_rec   21257 non-null  float64
 8   min_players_best  21637 non-null  float64
 9   max_players_best  21257 non-null  float64
 10  min_age           17522 non-null  float64
 11  min_age_rec       930 non-null    float64
 12  min_time          18972 non-null  float64
 13  max_time          18972 non-null  float64
 14  category          21799 non-null  object
 15  mechanic          19604 non-null  object
 16  cooperative       829 non-null    float64
 17  rank              10389 non-null  float64
 18  num_votes         19857 non-null  float64
 19  avg_rating        19857 non-null  float64
 20  complexity        16284 non-null  float64
dtypes: float64(16), int64(1), object(4)
memory usage: 3.7+ MB

In [112]:
game_item_df = game_item_df.fillna(0)

In [113]:
game_item_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21870 entries, 0 to 100274
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   bgg_id            21870 non-null  int64
 1   name              21870 non-null  object
 2   year              21870 non-null  float64
 3   game_type         21870 non-null  object
 4   min_players       21870 non-null  float64
 5   max_players       21870 non-null  float64
 6   min_players_rec   21870 non-null  float64
 7   max_players_rec   21870 non-null  float64
 8   min_players_best  21870 non-null  float64
 9   max_players_best  21870 non-null  float64
 10  min_age           21870 non-null  float64
 11  min_age_rec       21870 non-null  float64
 12  min_time          21870 non-null  float64
 13  max_time          21870 non-null  float64
 14  category          21870 non-null  object
 15  mechanic          21870 non-null  object
 16  cooperative       21870 non-null  float64
 17  rank              21870 non-null  float64
 18  num_votes         21870 non-null  float64
 19  avg_rating        21870 non-null  float64
 20  complexity        21870 non-null  float64
dtypes: float64(16), int64(1), object(4)
memory usage: 3.7+ MB

In [114]:
game_item_df['category'] = game_item_df['category'].str[:4]
game_item_df['game_type'] = game_item_df['game_type'].str[:4]
game_item_df['mechanic'] = game_item_df['mechanic'].str[:4]

In [115]:
game_item_df['category'] = game_item_df['category'].astype('float')
game_item_df['category'] = game_item_df['category'].astype('Int64')
game_item_df['game_type'] = game_item_df['game_type'].astype('float')
game_item_df['game_type'] = game_item_df['game_type'].astype('Int64')
game_item_df['mechanic'] = game_item_df['mechanic'].astype('float')
game_item_df['mechanic'] = game_item_df['mechanic'].astype('Int64')

In [116]:
game_item_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21870 entries, 0 to 100274
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   bgg_id            21870 non-null  int64
 1   name              21870 non-null  object
 2   year              21870 non-null  float64
 3   game_type         21870 non-null  Int64
 4   min_players       21870 non-null  float64
 5   max_players       21870 non-null  float64
 6   min_players_rec   21870 non-null  float64
 7   max_players_rec   21870 non-null  float64
 8   min_players_best  21870 non-null  float64
 9   max_players_best  21870 non-null  float64
 10  min_age           21870 non-null  float64
 11  min_age_rec       21870 non-null  float64
 12  min_time          21870 non-null  float64
 13  max_time          21870 non-null  float64
 14  category          21799 non-null  Int64
 15  mechanic          19604 non-null  Int64
 16  cooperative       21870 non-null  float64
 17  rank              21870 non-null  float64
 18  num_votes         21870 non-null  float64
 19  avg_rating        21870 non-null  float64
 20  complexity        21870 non-null  float64
dtypes: Int64(3), float64(16), int64(1), object(1)
memory usage: 3.7+ MB

In [119]:
game_item_df['cooperative'] = game_item_df['cooperative'].astype('bool')

In [120]:
game_item_df['cooperative'].head(50)

0     False
1     False
2     False
4     False
6     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
29    False
30    False
31    False
32     True
33    False
34    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49    False
51    False
53    False
54    False
55    False
56    False
57    False
58    False
Name: cooperative, dtype: bool