In [1]:
import pandas as pd
import numpy as np

In [2]:
category_file = "../data/bgg_Category.csv"
type_file = "../data/bgg_GameType.csv"
mechanic_file = "../data/bgg_Mechanic.csv"

In [3]:
category_df = pd.read_csv(category_file)
category_df.head()

   bgg_id               name
0    1001          Political
1    1002          Card Game
2    1008           Nautical
3    1009  Abstract Strategy
4    1010            Fantasy

In [4]:
category_df = category_df.rename(columns={'bgg_id':'category_id','name':'category_name'})
category_df.head()

   category_id      category_name
0         1001          Political
1         1002          Card Game
2         1008           Nautical
3         1009  Abstract Strategy
4         1010            Fantasy

In [5]:
type_df = pd.read_csv(type_file)
type_df

    bgg_id             name
0     4415            Amiga
1     4420     Commodore 64
2     4664         War Game
3     4665  Children's Game
4     4666    Abstract Game
5     4667     Customizable
6     4781           Arcade
7     4976         Atari ST
8     5496         Thematic
9     5497    Strategy Game
10    5498       Party Game
11    5499      Family Game

In [6]:
type_df = type_df.rename(columns={'bgg_id':'type_id','name':'type_name'})
type_df.head()

   type_id        type_name
0     4415            Amiga
1     4420     Commodore 64
2     4664         War Game
3     4665  Children's Game
4     4666    Abstract Game

In [7]:
mechanic_df = pd.read_csv(mechanic_file)
mechanic_df.head()

   bgg_id                 name
0    2001        Action Points
1    2002       Tile Placement
2    2003  Rock-Paper-Scissors
3    2004       Set Collection
4    2005        Stock Holding

In [8]:
mechanic_df = mechanic_df.rename(columns={'bgg_id':'mechanic_id','name':'mechanic_name'})
mechanic_df.head()

   mechanic_id        mechanic_name
0         2001        Action Points
1         2002       Tile Placement
2         2003  Rock-Paper-Scissors
3         2004       Set Collection
4         2005        Stock Holding

In [ ]:
data_file = "../data/bgg_GameItem.csv"
game_item_df = pd.read_csv(data_file)

In [ ]:
cols = ['bgg_id', 'name', 'year', 'game_type', 'min_players', 'max_players', 'min_players_rec',
       'max_players_rec', 'min_players_best', 'max_players_best', 'min_age',
       'min_age_rec', 'min_time', 'max_time', 'category', 'mechanic',
       'cooperative', 'rank', 'num_votes', 'avg_rating', 'complexity']

game_item_df = game_item_df[cols].copy()

In [ ]:
game_item_df.info()

In [ ]:
game_item_df = game_item_df.dropna(subset=['game_type'], inplace=False)

In [ ]:
game_item_df.info()

In [ ]:
#game_item_df = game_item_df.fillna(0)

In [ ]:
game_item_df.info()

In [ ]:
game_item_df['category'] = game_item_df['category'].str[:4]
game_item_df['game_type'] = game_item_df['game_type'].str[:4]
game_item_df['mechanic'] = game_item_df['mechanic'].str[:4]

In [ ]:
game_item_df = game_item_df.loc[game_item_df["year"].notnull()].astype({"year":"int32"})
game_item_df = game_item_df.loc[game_item_df["category"].notnull()].astype({"category":"int32"})
game_item_df = game_item_df.loc[game_item_df["game_type"].notnull()].astype({"game_type":"int32"})
game_item_df = game_item_df.loc[game_item_df["mechanic"].notnull()].astype({"mechanic":"int32"})
game_item_df = game_item_df.loc[game_item_df["cooperative"].notnull()].astype({"cooperative":"bool"})

In [ ]:
game_item_df.info()

In [ ]:
game_item_df['cooperative'].head(50)

In [ ]:
# remove any rows that are not board games 
non_board = [4415, 4420, 4781, 4976] 
game_item_df = game_item_df.loc[game_item_df["game_type"] != 4415]
game_item_df["game_type"].unique()