In [1]:
import pandas as pd

In [9]:
category_file = "../data/bgg_Category.csv"
family_file = "../data/bgg_GameFamily.csv"
type_file = "../data/bgg_GameType.csv"
mechanic_file = "../data/bgg_Mechanic.csv"

In [4]:
category_df = pd.read_csv(category_file)
category_df.head()

   bgg_id               name
0    1001          Political
1    1002          Card Game
2    1008           Nautical
3    1009  Abstract Strategy
4    1010            Fantasy

In [6]:
family_df = pd.read_csv(family_file)
family_df.head()

   bgg_id                                name
0       1                         Test Family
1       2                   Game: Carcassonne
2       3                         Game: Catan
3       4  Series: The Chicken Family of Zoch
4       5                      Game: Bohnanza

In [7]:
type_df = pd.read_csv(type_file)
type_df.head()

   bgg_id             name
0    4415            Amiga
1    4420     Commodore 64
2    4664         War Game
3    4665  Children's Game
4    4666    Abstract Game

In [10]:
mechanic_df = pd.read_csv(mechanic_file)
mechanic_df.head()

   bgg_id                 name
0    2001        Action Points
1    2002       Tile Placement
2    2003  Rock-Paper-Scissors
3    2004       Set Collection
4    2005        Stock Holding